body {
  background-image: url('../public/images/8bit_space.webp');
}

.wrapper {
  margin: 0 100px 0;
  padding-top: 100px;
}

.colums {
  display: flex;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
}

.girls {
  display: flex;
  justify-content: center;
}

.division-line {
  max-width: 320px;
  border: 1px solid #FDFCF2;
  
  margin-bottom: 25px;
}

.about-us {
  display: flex;
  flex-direction: row;
  max-width: 320px;
}

.about-us a {
  text-decoration: none;
}

.con-items {
  display: flex;
  flex-direction: column;
}

.item-name {
  margin-bottom: 10px;
  text-transform: lowercase;
}

.item-link {
  margin-bottom: 25px;

  align-items: flex-start;
  text-transform: uppercase;
}

.names .item-name {
  text-transform: uppercase;
}

.item-link:last-child, .item-name:last-child {
  margin-bottom: 0;
}

.decor {
  color: #E9CB8E;
}
